<style>
  .sidebar-nav li {
    list-style: none outside none;
    line-height: 35px;
  }

  .sidebar-nav a {
    color: #0088CC;
    font-size: 14px;
  }
</style>

  <div class="row-fluid">

    <div class="span9">
      <div class="well sidebar-nav">
        <%= render(:partial => @partial) %>
      </div>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        <ul>
          <li><a href="/users/settings/edit_name">Change name</a></li>
          <li><a href="/users/settings/contact_details">Contact details</a></li>
          <li><a href="/users/settings/audio_uploads">Upload albums</a></li>
          <li><a href="/users/settings/songs">Upload mp3s</a></li>
          <li><a href="/users/settings/video_uploads">Upload video</a></li>
          <li><a href="#">PDAs</a></li>
          <li><a href="#">Tab PCs</a></li>
          <li><a href="#">mp3 playes</a></li>
        </ul>
      </div>
    </div>
  </div>
