
  <div class="row-fluid">

    <div class="span9">
      <div class="well sidebar-nav">
        <%= render(:partial => "audio_uploads") %>
      </div>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
          .....................
      </div>
    </div>

  </div>
