<style>
#page-container {
  display: table;
  background-color: red;
  width: 837px;
  position: relative;
  height: 380px;
  margin: 0px auto;
  vertical-align: baseline;
  background: url("/images/welcome-2.jpg") no-repeat scroll 0 0 transparent;
}
</style>

<!-- -->
<div id="page-container" class="wrapper profile-container">
<h1 style="top:50px;position:absolute;color:white;margin-left:10px;">Welcome to eMusic.</h1>   
<p style="top:90px;position:absolute;color:white;margin-left:10px;width:350px;">
  Find out what’s new in the muisc World, download the latest mp3s, DVDs and buy the latest media gadgets out there.
</p> 
</div>
<!-- -->
