<div class="row-fluid">
<!-- begin -->
<div class="span9">                                                         
  <div class="well sidebar-nav"> 
    #DVD
  </div>
</div>

<div class="span3">                                                         
  <div class="well sidebar-nav"> 
    <table>                                                                 
      <caption style="font-size:16px;color:Orange;">Categories</caption>      
      <% (Songs.find(:all,:group => "genre") || []).each do |song| %>         
        <tr>                                                                  
          <td style="font-size:14px;color: blue;">                            
            <a class="" href="/items/music/<%=song.genre%>"><%=song.genre%></a>
          </td>                                                               
        </tr>                                                                 
      <%end%>                                                                 
    </table>
  </div>
</div>

</div>
<!-- end -->
